.container {
  position: relative;
  min-height: 530px;
  background: black;
  color: white;
}

.leftDecoration {
  position: absolute;
  bottom: 50px;
  left: 10%;
  max-width: 645px;
  width: 33.5%;
}

.leftDecoration::before {
  content: "";
  position: absolute;
  top: 20%;
  left: -35px;
  width: 32%;
  height: 32%;
  background: rgba(255, 255, 255, 0.12);
}

.leftDecorationImage1 {
  margin-left: 35%;
  z-index: 1;
}

.leftDecorationImage2 {
  margin-top: -36.5%;
  margin-right: 47%;
  z-index: 2;
}

.leftDecorationImage3 {
  margin-top: -11.5%;
  margin-left: 37%;
  margin-right: 12.5%;
  z-index: 3;
}

.contentContainer {
  max-width: 575px;
  margin-left: 50%;
  margin-right: 2%;
}

.heading {
  composes: sectionHeading from "/styles/headings.module.css";
  margin: 0;
}

.paragraph {
  margin: 45px 0 65px 40px;
}

.bookingButton {
  composes: primaryButton from "/styles/buttons.module.css";
  margin-left: 40px;
}

.rightDecoration {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 13.5%;
  max-width: 260px;
  line-height: 0;
  z-index: 1;
}

.rightDecoration::before {
  content: "";
  position: absolute;
  left: -70%;
  bottom: 10%;
  width: 30%;
  height: 24%;
  background: rgba(255, 255, 255, 0.12);
}

@media (max-width: 1024px) {
  .container {
    padding: 100px 20px;
  }

  .leftDecoration {
    display: none;
  }

  .rightDecoration {
    display: none;
  }

  .contentContainer {
    margin: 0 auto;
  }

  .heading {
    text-align: center;
  }

  .paragraph {
    margin: 45px 0 65px;
    text-align: justify;
  }

  .bookingButton {
    margin: 0 auto;
  }
}
